
<div class="main" id="app-page">
    <div class="container clear-fix">
        <div class="container-header">
            <h2><%= app.name %></h2>
        </div>
        
        <div class="menu">
            <a class="tab button green" href="javascript:void(0);">Control</a>
            <a class="tab button green" href="javascript:void(0);">Deploy</a>
            <a class="tab button green" href="javascript:void(0);">Setting</a>
        </div>

        <div class="contents">
            <div class="tab-content" id="control">
            </div>
            
            <div class="tab-content" id="deploy">
            </div>
            
            <div class="tab-content" id="setting">
            </div>
        </div>
    </div>
</div>
