
<div class="main" id="app-page">
    <div class="container clear-fix">
        <div class="container-header">
            <h2><%= app.name %></h2>
        </div>
        
        <div class="menu">
            <a class="tab menu-item control selected" data-tab="control" href="javascript:void(0);">Control</a>
            <a class="tab menu-item deploy" data-tab="deploy" href="javascript:void(0);">Deploy</a>
            <a class="tab menu-item settings" data-tab="settings" href="javascript:void(0);">
               Settings
            </a>
        </div>

        <div class="contents">
            <div class="tab-content active" id="control">
                <button class="big green">Start</button>
                <button class="big red disable">Stop</button>
                <button class="big blue">Restart</button>
                <hr/>
              <h3>App Resources</h3>


              <hr/>
              <h3>Instances</h3>
              <table>
                <thead>
                <tr>
                  <th>#</th>
                  <th class="right">Status</th>
                  <th class="right">CPU</th>
                  <th class="right">Memory</th>
                  <th class="right">Disk</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>aaa</td>
                      <td class="right">bbb</td>
                      <td class="right">xxx</td>
                      <td class="right">ddd</td>
                      <td class="right">ddd</td>
                    </tr>
                </tbody>
              </table>
            </div>
            
            <div class="tab-content" id="deploy">
                <h3>Update the version</h3>
                <div class="update-version">
                    <input type="text" placeholder="输入代码库的版本号"  name="version"  />
                    <a class="button green"
                       href="javascript:void(0);">deploy</a>
                </div>
              <hr/>
              <a class="button big green edit"
                 href="javascript:void(0);">Modify the code via web IDE</a>

            </div>
            
            <div class="tab-content" id="settings">
              <button class="big red">Delete This App</button>
            </div>
        </div>
    </div>
</div>
