<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/clear-fix.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="wrp">

  <%= yield %>
</div>

<div class="footer">
  <div class="wrp">
    &copy; Youdao.    吐槽请联系POPO：limy, zhaodch.
  </div>
</div>

<!--   -->
<div id="model-mask"></div>
<div id="model">
  <div class="wrp">
    <div class="model-title">你确定要删除该应用么?</div>
    <p class="model-desc">删除之后所有的数据将无法恢复。</p>

    <div class="model-action">
      <button class="green">确 定</button>
      <button class="green cancel">取 消</button>
    </div>

  </div>
</div>


<script src="/vendor/jquery-1.9.1.min.js"></script>
<script src="/vendor/jquery.cookie.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
