
<form method="post" action="/app/create">
    <h2>Step 1: Choose an application </h2>
    <input type="radio" name="buildpack" value="java">java <br/>
    <input type="radio" name="buildpack" value="python">python <br/>
    <input type="radio" name="buildpack" value="php">php <br/>



    <h2>Step 2: Enter your app name </h2>
    <input type="text" name="name" />


<!--
    <h2>Step 3: Enter your domain </h2>
    <input type="text" name="domain" />
-->
    <br />
    <button type="submit">submit</button>

</form>