
    <div class="header clear-fix">
        <h1><a href="/">Youdao App Engine</a></h1>
        <div class="nav">
            <a href="/app/create" class="button green">create app</a>
            <a href="/db" class="button green">database</a>
            <a href="/monitor" class="button green">monitor</a>
            <a href="#" class="button green">docs</a>
            <span>welcome, <%= current_user.email %>!</span>
        </div>
    </div>
    
    <%= yield %>

