html {
    font-family: arial, "Time New Roman", sans-serif;
}

body {
    background: url(https://d1zkfrljmtbmue.cloudfront.net/images/bg-noise-tile.png) repeat;
}

.wrp {
    width: 980px;
    margin: 0 auto;
}

.org-container h2{
    line-height: 40px;
    font-size: 30px;
}

.space-container {
    padding: 0 20px;
}

.space-container h3{
    line-height: 30px;
    font-size: 20px;
}

.app-container ul li{
    float: left;
    list-style-type: none;
    width:200px;
}