html {

}

body {
    font-family: "Khmer UI", "Microsoft YaHei", sans-serif;
    background: url(../image/bg.png) repeat;
    color: #333;
/*
        background-color: #00639c;
        color: #fff;
        */
}

input, label, select, option, textarea, button, fieldset, legend {
    font-family: "Khmer UI", "Microsoft YaHei", sans-serif;
}

.wrp {
    width: 980px;
    margin: 0 auto;
}

a {
    color: #2fa700;
    text-decoration: none;
}

a:hover {
    color: #237c00;
}

hr {
    margin: 21px 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.header {
    margin: 40px 0;
    line-height: 32px;
}

.header h1{
    font-size: 30px;
    font-weight: normal;
    width: 300px;
    float: left;
}

.header h1 a{
    color: #41abe1;
}

.header h1 a:hover{
    color: #00639c;
}

.header .nav {
    float: right;
}

.footer {
    background: #111;
    color: #666;
    line-height: 50px;
    margin-top: 50px;
}

.centered {
    text-align: center;
    display: block;
}

input {
    border: 2px #ccc solid;
    display: inline-block;
    padding: 0 0 0 10px;
    background-color: #fff;
    outline: 0;
    margin-right: 32px;
    min-height: 32px;
    position: relative;
}

input:focus {
    border-color: #2fa700 ;
}

button, .button {

    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    min-width: 80px;
    min-height: 32px;
    line-height: 32px;
    height: 32px;
    background-color: #ccc;
    border: 1px transparent solid;
    color: #ffffff;
    margin-right: 10px;
    /*margin-bottom: 10px;*/
    border-raduis: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

button.big, .button.big {
    min-width: 120px;
    min-height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 10px;
}

button:hover, .button:hover {
    background-color: #999;
}

button.disable, .button.disable {
    cursor: not-allowed;
}

button.disable:active, .button.disable:active {
    top: 0;
}

button:active, .button:active {
    top: 2px;
}

button.green, .button.green {
    background: #2fa700 ;
}

button.green:hover, .button.green:hover {
    background-color: #237c00;
    color: #fff;
}

button.red, .button.red {
    background: #d10000;
}

button.red:hover, .button.red:hover {
    background-color: #a90000;
    color: #fff;
}



table {
    width: 100%;
    border-collapse: separate;
    margin: 0 0 20px;
}
table thead tr th,
table thead tr td {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-left: 1px transparent solid;
    border-top: 1px transparent solid;

    font-weight: 400;
    font-size: 11pt;
    letter-spacing: 0.01em;
    line-height: 14pt;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}
table thead tr th.right,
table thead tr td.right {
    text-align: right;
    padding-right: 10px;
}
table thead tr th.last,
table thead tr td.last {
    border-right: 1px transparent solid;
}
table thead tr th:last-child,
table thead tr td:last-child {
    border-right: 1px transparent solid;
}
table tbody tr {
    border: 1px #fff solid;
}
table tbody tr td {
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding: 3px 10px;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    box-sizing: border-box;
}
table tbody tr td.right {
    text-align: right;
}
table tbody tr td.center {
    text-align: center;
}
table tbody tr td.last {
    border-right: 1px transparent solid;
}
table tbody tr td:last-child {
    border-right: 1px transparent solid;
}



/* ===login page start=== */
#login-page h1 {
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;
    text-rendering: optimizeLegibility;
    text-align: center;
    margin: 40px 0 20px 0;
}

#login-page .intro{
    font-weight: 300;
    font-size: 20px;
    color: #aaa;
    text-align: center;
    margin: -10px 0 50px 0;
}

#login-page form{
    width: 420px;
    margin: 0 auto 50px;
}

#login-page form input{
    width: 100%;
}

#login-page form label{
    display: block;
    text-align: left;
}

#login-page form button{
    margin-top: 30px;
}
/* ===login page end=== */

/* ===create-app page start=== */
#create-app-page #app-name {
    width: 610px;
}

#create-app-page .create-button {
    margin-top: 50px;
}
/* ===create-app page end=== */

.type-item {
    margin: 0 10px 10px 0;
    display: inline-block;
    float: left;
    width: 300px;
    height: 80px;
    border: solid 3px #cccccc;
}

.type-item.java {
    background: url(../image/icon-java.png) left center no-repeat;
}

.type-item.php {
    background: url(../image/icon-php.png) left center no-repeat;
}

.type-item.python-wsgi {
    background: url(../image/icon-python-wsgi.png) left center no-repeat;
}

.type-item:hover {
    border: solid 3px #41abe1;

}

.type-item.selected {
    border: solid 3px #41abe1;
}

.type-item.selected .type-name{
    background: url(../image/selected-bg.png) right top no-repeat;
}

.type-item .type-name {
    display: block;
    margin-left: 80px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 40px;
}

.type-item .type-desc {
    display: block;
    font-size: 12px;
    margin-left: 80px;
}

.main h2{
    line-height: 40px;
    font-size: 24px;
    color: #41abe1;
    font-weight: normal;
}

.main h3{
    line-height: 40px;
    font-size: 20px;
    color: #41abe1;
    font-weight: normal;
}

.space-container {
    padding: 0 20px;
}

.space-container h3{
    line-height: 30px;
    font-size: 20px;
}

.app-container ul li{
    float: left;
    list-style-type: none;
    width: 200px;
}

/* ===app page start=== */
#app-page .container .menu {
    float: left;
    width: 25%;
}

#app-page .container .menu  a.tab{
    display: block;
    margin: 10px 0;
}

#app-page .container .contents {
    float:right;
    width:75%;

}

#app-page .container .contents .tab-content {
    display: none;padding-top: 10px;
    padding-left: 20px;
}

#app-page .container .contents .tab-content.active {
    display: block;
}

.menu-item {
    padding: 10px 10px 10px 50px;
    border: solid 3px transparent;
    color: #2fa700;
    line-height: 32px;
}

.menu-item:hover {
    border: solid 3px #cccccc;
    color: #237c00;
}

.menu-item.selected{
    border: solid 3px #41abe1;
}
.menu-item.settings {
    background: url("../image/icon-settings.png") 10px center no-repeat;
}
.menu-item.control {
    background: url("../image/icon-control.png") 10px center no-repeat;
}
.menu-item.deploy {
    background: url("../image/icon-deploy.png") 10px center no-repeat;
}

#app-page #control button {
    margin-left: 50px;
}

#app-page #control form {
    display: inline-block;
}

#app-page #deploy input {
    width: 300px;
}

#app-page #deploy .edit {
    background: #2fa700 url("../image/icon-edit.png") 10px center no-repeat;
    padding: 10px 20px 10px 65px;
    min-height: 48px;
    line-height: 48px;
    font-weight: bold;
    font-size: 18px;
}

#app-page #deploy .edit:hover {
    background-color: #237c00 ;
}
/* ===app page end=== */

/* ===model start=== */
#model-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:10;
    background: #cccccc;
    opacity: 0.5;
    display: none;
}

#model {
    display: none;
    position: absolute;
    top:100px;
    width:100%;
    min-height: 300px;
    background: #237c00;
    z-index: 20;
    color: #fff;
}
#model .model-title {
    font-size: 40px;
    line-height: 60px;
    margin: 30px 0;
}
#model .model-action {
    text-align: right;
    margin: 50px 0 20px;
}
#model .model-action button {
    outline: 2px solid #fff;

}
/* ===model end=== */